/* SMARTPHONE */

@media (max-width: 420px) {

    .title-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .title-header h2 {
        text-align: center;
        white-space: normal;
        font-size: 26px;
    }

    .title-header p {
        text-align: center;
    }

    .one {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .title-one {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .title-one h2 {
        font-size: 24px;
        white-space: wrap;
        text-align: center;
        margin-bottom: 20px;
    }

    .title-one p {
        margin-bottom: 20px;
    }

    .media {
        width: 100%;
    }

    .media img {
        width: 100%;
    }

    .two {
        margin: 50px 0 50px 0;
    }

    .two h3 {
        font-size: 22px !important;
        text-align: center;
    }

    .two hr {
        display: none;
    }

    .two p {
        text-align: center;
        font-size: 14px !important;
    }

    .three {
        width: 80%;
        padding: 0 10% 0 10%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
    }

    .img-three {
        width: 100%;
        margin-bottom: 50px;
    }

    .img-three p {
        font-size: 24px;
        text-align: center;
    }

    .img-three img {
        width: 100%;
    }

    .topics {
        width: 100%;
        height: auto;
        margin: 0;
    }

    .topics p {
        text-align: center;
    }

    .topics div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .four {
        padding-bottom: 50px;
    }

    .four h3 {
        font-size: 24px;
    }

    .four p {
        font-size: 22px;
    }

    .four .select {
        width: 100%;
    }

    .select select {
        background: transparent;
        width: 100%;
        padding: 0 0 0 10%;
    }

    .four a {
        width: 100%;
    }

    .content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .select-footer {
        width: 100%;
    }

    .select-footer select {
        width: 100%;
    }

    .menu-footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }

    .menu-footer:last-of-type {
        margin-bottom: 0;
    }

    

}